@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Konstarica";
    src: local("Konstarica"),url("./fonts/FontsFree-Net-Konstarica.ttf") format("truetype");
}
@font-face {
    font-family: "Kurye";
    src: local("Kurye"),url("./fonts/Kurye-Light.otf") format("opentype");
}
